.header {
  background: black;
  color: white;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;

  .company-title {
    font-weight: 500;
    font-size: 30px;
  }

  .cart-container {
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: 700;
  }

  .cart-count {
    color: #f08804;
  }
}

