.item-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .50);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;

  .image-container {
    width: 60%;
  }

  .item-details {
    width: 40%;
    padding-top: 50px;

    .item-name {
      font-size: 30px;
      color: black;
      margin-bottom: 5px;
    }

    .add-to-cart {
      background: black;
      color: white;
      padding: 10px;
      font-size: 15px;
    }
  }
}
