.cart-item-container {
  margin: 10px auto;
  padding: 10px;

  .cart-item-details{
    padding-top: 10px !important;

    .plus-button{
      margin-left: 5px;
      padding: 0 5px 3px;
      color: white;
      background: black;
      font-weight: 700;
      font-size: 15px;
    }
    .minus-button{
      margin-right: 5px;
      padding: 0px 5px 3px;
      color: white;
      background: black;
      font-weight: 700;
      font-size: 15px;
    }
  }
}
