.header {
  background: black;
  color: white;
  padding: 20px 390px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;

  .company-title {
    font-weight: 500;
    font-size: 30px;
  }

  .cart-container {
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 15px;
    font-weight: 700;
  }

  .cart-count {
    color: #f08804;
  }

  .cart-items-popup {
    &-content {
      width: 90vw !important; /* stylelint-disable-line declaration-no-important */
      padding: 0 !important; /* stylelint-disable-line declaration-no-important */
      border-radius: 5px 5px 0;
      border: 1px solid #666 !important; /* stylelint-disable-line declaration-no-important */
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      color: black;
    }
  }
}

